/* enable content cards to take up more space */
body.limitedwidth #page.drawers .main-inner {
    max-width: 100% !important
}

#page.drawers .main-inner {
    padding: 0.5rem 0.5rem !important
}

/* enable four items to be in the starred card */
.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
    width: calc(25% - 0.5rem) !important
}

/* reorder dashboard cards */
#block-region-content {
    display:flex !important;
    flex-flow: column
}

/* Timeline card */
#inst102460 {
    order: 2
}

/* Recently accessed items card */
#inst118822 {
    order: 3
}

/* Starred courses card */
#inst118818 {
    order: 1
}

/* Upcoming events card */
#inst552 {
    order: 4
}

/* Study tools card */
#inst118819 {
    order: 5
}
